<h2><%=@user.username%>'s Favorites</h2>
<% @array = [] %>

<% @favs.each do |f| %>
<% @array.push(f.title) %>
<%end%>

<b>Random Favorite:</b> <%= @array.sample() %>
<hr>
<% @favs.each do |f|%>
<a href="/favorites/<%=f.id%>"><%= f.title %></a><br>
<% end %>