body{
    font-family: source sans pro;
    background-image: url("light2.png")
}

h1,h2,h3{
    font-family: playfair display;
}

hr{
    border-top: 1px dotted;
}

b{
    font-family: alice;
}

input[type=submit]{
    text-transform: uppercase;
    font-family: source sans pro;
    font-size: 11px;
    background-color: #B5C6B1;
    border-radius: 5px;
    color: white;
}

input[type=submit]:hover{
    color: black;
}

input[type=text]{
    font-family: source sans pro;
    font-size: 12px;
}

.content{
    background-color: #E5AC82;
    opacity: .85;
    overflow: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 70px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    height: 70%;
}