.content a:link{
    text-decoration: none;
    color: #051289;
    font-family: vidaloka;
}

.content a:hover{
    text-decoration: underline;
    color: #051289;
    font-family: vidaloka;

}

.content a:visited{
    text-decoration: none;
    color: #051289;
    font-family: vidaloka;

}