.pop_page{

}
.pop_wrap{
    margin-top: 10px;
    padding: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.pop{
    display: inline-block;
    white-space: normal;
    border-radius: 2px;
    background-color: #F8F9F9;
    padding: 5px;
    text-align: center;
}