.watched_showpage_wrapper{
}
    
.watched_showpage_movies{
    border: 1px solid;
    height: 240px;
    overflow: auto;
    padding: 5px;
    background-color: #F8F9F9;
    opacity: 1;

}
    
.watched_showpage_recs{
    margin-top: 10px;
    border: 1px solid;
    overflow: auto;
    height: 250px;
    padding: 5px;
    background-color: #F8F9F9;
    opacity: 1;
}

.watched_showpage_recs img{
    float: left;
}

.recs{
    display: inline-block;

}
