.watched_showpage_wrapper{
}
    
.watched_showpage_movies{
    border: 1px solid;
    height: 240px;
    overflow: auto;
    padding: 5px;
    background-color: #F8F9F9;
    opacity: 1;

}
    
.recs_wrapper{
    margin-top: 10px;
    padding: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.recs_wrapper img{
    float: left;
}

.recs{
    display: inline-block;
    border: 1px solid;
    width: 250px;
    height: 300px;
    white-space: normal;
    overflow: scroll;
    background-color: #F8F9F9;
    padding: 5px;
}
