.watched_showpage_wrapper{
    display: grid;
    grid-row-gap: 15px;
}
    
.watched_showpage_movies{
    grid-row-start:1;
    grid-row-end: 2;
    border: 1px solid;
    height: 250px;
    overflow: auto;
    padding: 5px;
    background-color: #F8F9F9;
    opacity: 1;

}
    
.watched_showpage_recs{
    grid-row-start: 2;
    grid-row-end: 3;
    border: 1px solid;
    overflow: auto;
    white-space: nowrap;
    height: 215px;
    padding: 5px;
    background-color: #F8F9F9;
    opacity: 1;
}

.recs{
    display: inline-block;
}
